# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

# Project execs
virtual_machine/corewar

# SDL, SDL_TTF, freetype
virtual_machine/SDL2-2.0.10
virtual_machine/SDL_ttf
virtual_machine/freetype-2.4.9

# Clion
.idea
CMakeLists.txt
cmake-build-debug

# Vim
*.swp
